:root {
    --color-gray: #636E8D;
    --color-lightgray: #F6F7FB;
    --color-blue: #386BEE;
    --color-deepdarkblue: #0D253C;
}

html,
body,
h1,
p,
ul,
button {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
}

button {
    cursor: pointer;
}