.header {
    padding: 20px 0;
    margin-bottom: 30px;
    box-shadow: 0 1px 0 gainsboro;
}

.header-container {
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
    margin: 0 auto;
    box-sizing: border-box;
}

.header-logo>a {
    font-size: 24px;
    font-weight: 600;
    color: #000;
    text-decoration: none;
}

.header-navigation>ul {
    list-style-type: none;
    display: flex;
    gap: 40px;
}

.header-navigation a {
    color: var(--color-gray);
    font-size: 14px;
    position: relative;
    text-decoration: none;
    transition-duration: 0.2s;
}

.header-navigation a::before {
    content: '';
    position: absolute;
    bottom: -8px;
    width: 0;
    height: 2px;
    background: var(--color-blue);
    transition-duration: 0.2s;
}

.header-navigation a:hover {
    color: var(--color-blue);
}

.header-navigation a:hover::before {
    width: 40%;
}

.header-search {
    line-height: 0;
}

.header-search>button {
    line-height: 0;
}

.header-search>button:hover {
    color: var(--color-blue);
}

.main-container {
    max-width: 1440px;
    padding: 20px 80px;
    margin: 0 auto;
    box-sizing: border-box;
}

.search-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0005;
    z-index: 5;
}

.search-popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 50px 0;
    background: #fff;
    box-shadow: 0 0 13px #0005;
    display: flex;
    justify-content: center;
    z-index: 100;
}

.search-popup-form {
    display: flex;
    align-items: center;
    justify-content: right;
    position: relative;
}

.search-popup-form>input {
    border: none;
    outline: none;
    padding: 10px 30px 10px 0;
    /* border-bottom: 1px solid var(--color-gray); */
    font-size: 16px;
    width: 500px;
    box-shadow: 0 1px 0 var(--color-gray);
}

.search-popup-form>input:focus {
    box-shadow: 0 2px 0 var(--color-blue);
}

.search-popup-form>button {
    position: absolute;
}

.search-popup-form>button:hover {
    color: var(--color-blue);
}

.footer {
    padding: 40px 0;
    margin-top: 30px;
    background: var(--color-deepdarkblue);
}

.footer-container {
    max-width: 1440px;
    padding: 0 80px;
    margin: 0 auto;
    box-sizing: border-box;
}

.footer-copyright {
    color: #fff;
}